<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.mavha.zambaphonegap"
	version 	= "1.0.0">

	<name>Zamba</name>

	<description>
		Zamba maqueta
	</description>

	<author href="http://www.mavha.com"
		email="info@mavha.com">
		MAvha S.A.
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
